{% extends 'base_form.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
    <div class="content">
        <div class="form-container">
            <h1 class="form-header">Password Recovery</h1>

            {{ form_start(passwordRecoveryForm, {'action': path('app_password_recovery'), 'method': 'POST',
                'attr':{'class': 'form'}}) }}
            {{ form_row(passwordRecoveryForm.username) }}
            {{ form_row(passwordRecoveryForm.plainPassword.first) }}
            {{ form_row(passwordRecoveryForm.plainPassword.second) }}

            <button class="btn">Recover Password</button>
            {{ form_end(passwordRecoveryForm) }}
        </div>
    </div>
{% endblock %}
