{% extends 'base_security_form.html.twig' %}

{% block title %}Password Recovery{% endblock %}

{% block body %}
    <div class="content">
        <div class="form-container">
            <h1 class="form-header">Password Recovery</h1>

            {{ form_start(passwordRecoveryForm, { 'method': 'POST',
                'attr':{'class': 'form'}}) }}

            <h1>hi, {{ username }} </h1>
            {{ form_row(passwordRecoveryForm.plainPassword.first) }}
            {{ form_row(passwordRecoveryForm.plainPassword.second) }}

            <button class="btn">Recover Password</button>
            {{ form_end(passwordRecoveryForm) }}
        </div>
    </div>
{% endblock %}
