{% extends 'base_admin.html.twig' %}

{% block title %}Edit Question{% endblock %}

{% block body %}
    <h1 class="page-title">Edit question</h1>
    {{ form_start(form, { 'method': 'POST',
        'attr':{'class': 'form'}}) }}
    <div class="form-group input-block">
        {{ form_label(form.text, 'Question') }}{{ form_widget(form.text, {'attr': {'class': 'input-field'}}) }}
    </div>
    <h4 class="header">Answers</h4>
        {% for answer in form.answers %}
            {% if loop.first %}
            <div class="form-group input-block">
                {{ form_label(answer.text, 'Correct', {'label_attr': {'class': 'correct-answer-label'}}) }}{{ form_widget(answer.text, {'attr': {'class': 'input-field', 'required': true}}) }}
            </div>
            {% else %}
            <div class="form-group input-block">
                {{ form_label(answer.text, 'Wrong', {'label_attr': {'class': 'wrong-answer-label'}}) }}{{ form_widget(answer.text, {'attr': {'class': 'input-field'}}) }}
            </div>
            {% endif %}
        {% endfor %}

        {{ form_row(form.submit)}}
    {{ form_end(form) }}

    {% include 'admin/_admin-main-button.html.twig' %}

{% endblock %}
