{% extends 'base_admin.html.twig' %}

{% block title %}Create Question{% endblock %}

{% block body %}
    <h1 class="page-title">Create question</h1>
    {{ form_start(addQuestionForm, {'action': path('create_question'), 'method': 'POST',
        'attr':{'class': 'form'}}) }}
    <div class="form-group input-block">
        {{ form_label(addQuestionForm.text, 'Question') }}{{ form_widget(addQuestionForm.text, {'attr': {'class': 'input-field'}}) }}
    </div>
    <h4 class="header">Answers</h4>
        {% for answer in addQuestionForm.answers %}
            {% if loop.first %}
            <div class="form-group input-block">
                {{ form_label(answer.text, 'Correct', {'label_attr': {'class': 'correct-answer-label'}}) }}{{ form_widget(answer.text, {'attr': {'class': 'input-field', 'required': true}}) }}
            </div>
            {% else %}
            <div class="form-group input-block">
                {{ form_label(answer.text, 'Wrong', {'label_attr': {'class': 'wrong-answer-label'}}) }}{{ form_widget(answer.text, {'attr': {'class': 'input-field'}}) }}
            </div>
            {% endif %}
        {% endfor %}

        {{ form_widget(addQuestionForm.submit) }}
    {{ form_end(addQuestionForm) }}

    {% include 'admin/_admin-main-button.html.twig' %}

{% endblock %}
