<div class="admin-panel">
    <a class="admin-button" href="{{ path('create_question') }}">Create Question</a>
    <a class="admin-button" href="{{ path('question_list') }}">Question List</a>
    <a class="admin-button" href="{{ path('create_quiz') }}">Create Quiz</a>
    <a class="admin-button" href="{{ path('quiz_list') }}">Quiz List</a>
    <a class="admin-button logout" href="{{ path('app_logout') }}">Logout</a>
</div>
